{% extends "base.html" %}

  {% block title %} Afegir disc {% endblock %}

{% block extra-head %}
  {% load static %}
    <script src="{% static "js/afegir_disc.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="contingut-disc">
      <div id="titol-puja"><h3>Pujar Disc</h3></div>
        <div id="columna-disc">
          <form id="puja-disc" action="" method="POST">
    
           <form id="cont-log" method="post" action="">
            {% for field in form.visible_fields %}
                  {% csrf_token %}
	              <div class="form-group">
                    {{ field }}
            
                </div>
            {% endfor %}
           
          </form>
          
          <div id="pujar">
              <img id="output" class="img-responsive img-rounded "/>
              <input type="file" accept="image/*" onchange="loadFile(event)" multiple>
              
              
              <div class="checkbox">
                <label><input type="checkbox" value="">Estic disposat a negociar</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Estic disposat a fer enviaments</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Estic disposat a intercanviar vinils</label>
              </div>
              
              <div id="botons-disc">
                <button type="submit" class="btn btn-success envia">Enviar</button>
                
                <form action="user.html">
                <button class="btn btn-danger">Cancel·lar</button>
                </form>
              </div>
          </div>
        </div>  

    
    
    </div>
        
{% endblock %}