{% extends "base.html" %}
{% block title %} Contact Us {% endblock %}
{% block content %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Vinylshare</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{%url"discos:index"%}">Inici</a></li>
            <li><a href="#recomanats">Recomanats</a></li>
            <li><a href="#ultims">Últims</a></li>
            <li class="active"><a href="#" >Contacte</a></li>
          </ul>
        </div>
    </nav>
    <div id="content-login">
        <form id="cont-log">
            <input type="text" class="formulari" name="firstname" placeholder="Nom"><br><br>
            <input type="email" class="formulari" name="Email" placeholder="Email"><br><br>
            <textarea rows="4" cols="50" placeholder="Missatge"></textarea>
        </form>
    </div>
    {% endblock %}