{% extends "base.html" %}
  {% block title %} Contact Us {% endblock %}
  
  {% block extra-head %}
  {% load static %}  
  <link href="{% static "css/contacte.css" %}" rel="stylesheet">
  {% endblock %}
  
{% block content %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "discos:index" %}">Vinylshare</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url "discos:index" %}">Inici</a></li>
            <li><a href="#recomanats">Recomanats</a></li>
            <li><a href="#ultims">Últims</a></li>
            <li class="active"><a href="#" >Contacte</a></li>
          </ul>
        
           {% if user.is_authenticated %}
            <div id="user">
                  <ul class="nav navbar-nav"> 
                        <li><a href="{% url "usuaris:menu_usuari" %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{user}}</a></li></ul>
                  <ul class="nav navbar-nav"> 
                       <li><a href="{% url "usuaris:logout" %}"><span class="glyphicon glyphicon-off" title="Logout"></span></a></li>
                  </ul>
            </div>      
            </div>
            {% else %}
                <div id="user"><ul class="nav navbar-nav"> <li><a href="{% url "usuaris:login" %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a></li></ul></div>
            {% endif %}
     
          </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div id="miss"></div>
    
    <div id="content-login">
      <h1>Envia'ns un missatge</h1>
        <form id="cont-log" method="post" action="">
            {% for field in form.visible_fields %}
                  {% csrf_token %}
	              <div class="form-group">
                    {{ field }}
                    
       		        {% if field.errors %}		        	
      			        <div class="alert alert-danger">
      			        <button type="button" class="close" data-dismiss="alert">&times;</button>
      				        <ul>
      				          {% for error in field.errors%}
      				          <li>{{ error }}</li>
      			              {% endfor %}
      			            </ul>
      		         	</div>
      		        {% endif %}
      	        </div>        
             {% endfor %}
          <input type="submit" class="formulari boto btn btn-success" value="Entra">
        </form>
    </div>
{% endblock %}