{% extends "base.html" %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% block title %} Vinyl Homepage {% endblock %}

{% block extra-head %}
    {% load static %}  
    <script src="{% static "js/index.js" %}"></script>
    <script src="../../dist/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Vinylshare</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Inici</a></li>
            <li><a href="{% url "discos:recomanats" %}"> Recomanats </a></li>
            <li><a href="{% url "discos:ultims" %}"> Últims </a></li>
            <li><a href="{% url "discos:contacte" %}"> Contacte </a></li>
         </ul>
         
        <!--comprovem autenticació usuari-->
           {% if user.is_authenticated %}
            <div id="user">
              <ul class="nav navbar-nav"> 
                    <li><a href="{% url "usuaris:menu_usuari"%}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user }} </a></li></ul>
                <ul class="nav navbar-nav"> 
                   <li><a href="{% url "usuaris:logout" %}"><span title="Logout" class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
              </ul>     
            </div>
            {% else %}
            <div id="user">
                <ul class="nav navbar-nav">
                    <li><a href="{% url "usuaris:login" %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a></li>
                </ul>
            </div>
            {% endif %}

         </div><!--/.nav-collapse -->
        </div> 
     </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" id="header">
         
         <!--cercador -->
         <div class="input-group input-header">
            <!--formulari - METHOD:GET --> 
            <form action="{% url "discos:cercador" %}" method="get" > 
                
                <div class="input-group-btn">
                    <input type="text" id="input-titol" name="q" class="form-control" placeholder="Que busques?" aria-label="...">
                 <!--SELECCIÓ -->                    
                  <select name="tipus_de_recerca" id="select-index" onChange="this.form.submit()">
                    <option value="Busca per..." disabled default selected>Busca per...</option>
                    <option value="titol">Titol</option>
                    <option value="grup">Grup</option>
                    <option value="genere">Genere</option>
                 </select>
                </div>
            </form>
            <!--Missatge errors -->                 
             {% if field.errors %}		        	
    	     <div class="alert alert-danger">
    	        <button type="button" class="close" data-dismiss="alert">&times;</button>
    	        <ul>
    	          {% for error in field.errors%}
    	              <li>{{ error }}</li>
    		      {% endfor %}
                </ul>
         	</div>
            {% endif %}
        		        
            </div>
        </div>
    </div>
      
      <div id="contingut">
        <div class="page-header items">
          
         {% for disc in llista_discos %}
         <div class="item" data-usuari="{{ disc.usuari_venedor.usuari }}">
             <img src="{%if disc.image %}{{disc.image.url}}{% endif%}"  class="img-responsive hq" >
               
              <div class="preu" id="preu1">{{ disc.preu }} € </div>

              <div class="item-body">
                <div class="titol" id="titol1"><a href="{% url "discos:vinil_informacio" disc.pk %}"><h6> {{ disc.titol }} </h6></a></div>
                <div class="user">
                  <div class="img-user"><a href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></div>
                  <div class="name-user" ><a href=""><small> {{ disc.usuari_venedor.usuari }} </small></a></div>
                </div>
             </div>
             <button type="button" class="btn btn-success button1" data-toggle="modal" data-target="#contact">Contactar</button>
            </div>
        {% endfor %}  
          </div>
          
        </div>
      </div>
    </div>
    
     <!-- Footer -->
    <nav class="navbar navbar-inverse footer">
      <div id="concurs">
        <img src="/dist/images/puntcat.png" alt="puntcat" class="img-responsive fooo" id="puntcat">
        <img src="/dist/images/dinahosting.jpg" alt="dinahosting" class="img-responsive fooo" id="dina">
      </div>
     <div id="adalt">
         <span class="glyphicon glyphicon-menu-up" title="amunt" aria-hidden="true"></span>
     </div>
     <div id="peu">
       
       <div id="foot">
          <dl class="dl-horizontal">
           <ul class="list-inline">
             <li><h6>Item</h6></li>
             <li><h6>Item</h6></li>
             <li><h6>Item</h6></li>
             <li><h6>Item</h6></li>
         </ul>
         
          <ul class="list-inline llista">
             <li><h6><small>Item</small></h6></li>
             <li><h6><small>Item</small></h6></li>
             <li><h6><small>Item</small></h6></li>
            <li><h6><small>Item</small></h6></li>       
          </ul>
          </dl>
        </div>
        <div id="drets">
          
          <img src="/dist/images/cc.png" alt="cc" class="img-responsive fooo creative" id="cc">
          <img src="/dist/images/chooser_by.png" alt="Chooser By" class="img-responsive fooo creative" id="by">
          <img src="/dist/images/chooser_nc.png" alt="Chooser Nc" class="img-responsive fooo creative" id="nc">
          <img src="/dist/images/chooser_nd.png" alt="Chooser Nd" class="img-responsive fooo creative" id="nd">
          
        </div>
        
        
       
     </div>
     {% if user.is_authenticated %}
     <div id="contact" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title titol-modal">Enviar missatge a </h4>
                        </div>
                        <div class="modal-body">
                            <textarea rows="4" cols="50"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel·lar</button>
                            <button id="YES" type="button" class="okReservar btn btn-success" data-dismiss="modal">Enviar</button>
                        </div>
                    </div>

                </div>
    </div>
    {% else %}
    <div id="contact" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group">
                              <center><font color="black">Inicia sessió per contactar amb aquest usuari!</font></center>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Sortir</button>
                            <a href="{% url "usuaris:login" %}"><button id="YES" type="button" class="okReservar btn btn-success">Loguejar-se</button></a>
                            
                        </div>
                    </div>

                </div>
    </div>
    {% endif %}
    </nav>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../dist/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../dist/assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../dist/assets/js/ie10-viewport-bug-workaround.js"></script>

 {% endblock %}
     

