{% extends "base.html" %}

{% block title %} Sign Up! {% endblock %}

{% block extra-head %}
{% load static %}  
<link href="{% static "css/SignUp.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
      <div class="infor">
          <div class="esquerra">
              <div id="logo" ></div>
          </div> 
          
          <div id="content-login">
              
              <h1 id="creaUsuari">Crea el teu usuari</h1>
            
                <form id="cont-log" action="" method="POST">
                {% for field in form.visible_fields %}
                  {% csrf_token %}
	              <div class="form-group">
                    
      	            {{ field }}
      	            {% if field.help_text %}
      	            
      	            {% endif %}
      		        {% if field.errors %}		        	
      			        <div class="alert alert-danger">
      			        <button type="button" class="close" data-dismiss="alert">&times;</button>
      				        <ul>
      				          {% for error in field.errors%}
      				          <li>{{ error }}</li>
      			              {% endfor %}
      			            </ul>
      		         	</div>
      		        {% endif %}
      	        </div>        
       {% endfor %}


                 
                
                  <br><br>
                 <!-- <div class="g-recaptcha boot" data-sitekey="6Le8-xUUAAAAAEaaToGX4VZV_DPLvLK4C0PJnUQX"></div>-->
                 
                 <div class="checkbox check">
                  <label><input type="checkbox" value="" required>Accepto <a href="/discos/templates/discos/termes.html">els termes i condicions de ús</a></label>
                </div>
                  <br><br>
                  <input id="botoncito" type="submit" class="formulari boto btn btn-success" value="Crear">
                  
                  <br />
                </form> 
              
          </div>
        </div>

{% endblock %}

{% block extra-body %}
{% load static %}
<script src="{% static "js/Usuari.js" %}"></script>
{% endblock %}


