{% extends "base.html" %}

{% block title %} Modificar dades {% endblock %}

{% block extra-head %}
{% load static %}  
<link href="{% static "css/SignUp.css" %}" rel="stylesheet">
<script src="{% static "js/ModiUsu.js" %}"></script>
{% endblock %}

{% block content %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Vynilshare</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href='{% url "discos:index" %}'>Inici</a></li>
                <li><a href="#recomanats">Recomanats</a></li>
                <li><a href="#ultims">Últims</a></li>
                <li><a href="#contacte">Contacte</a></li>
              </ul>
              
             <div id="user">
                  <ul class="nav navbar-nav"> 
                        <li class="active"><a href="{% url "usuaris:menu_usuari" %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{user}}</a></li></ul>
                    <ul class="nav navbar-nav"> 
                       <li><a href="{% url "usuaris:logout" %}"><span title="Logout" class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
                  </ul>     
            </div>
              
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        
        
       
     
      
        <div class="contingut-usr">
    
          <div class="row usr-menu">
           
            <div class="col-xs-3">
                <div class="panel panel-default menu-usr">
                <!-- Default panel contents -->
                <div class="panel-heading">Menú</div>
                <!-- List group -->
                  <div class="list-group">
                    <a href="{% url "usuaris:menu_usuari" %}" class="list-group-item"><span class="glyphicon glyphicon-user"></span> Menú</a>
                    <a href='{% url "discos:discos_venuts" %}' class="list-group-item"><span class="glyphicon glyphicon-cd"></span> Discos Venuts</a>
                  </div>
              </div>
              </div>
              </div>
              
              <div class="row add">
               
                  
                
                   <div class="infor">
              <div class="esquerra">
                 <div id="img-user"></div>
                 <input type="file" id="browse" name="filename" accept="image/gif, image/jpeg, image/png, image/jpg">
              </div> 
          
          <div id="content-login">
            
                <form id="cont-log" action="" method="POST" enctype="media/form-data">
                    {%csrf_token%}
                {% for field in formUsuari.visible_fields %}

	              <div class="form-group">
                    
      	            {{ field }}
      	            {% if field.help_text %}
      	            
      	            {% endif %}
      		        {% if field.errors %}		        	
      			        <div class="alert alert-danger">
      			        <button type="button" class="close" data-dismiss="alert">&times;</button>
      				        <ul>
      				          {% for error in field.errors%}
      				          <li>{{ error }}</li>
      			              {% endfor %}
      			            </ul>
      		         	</div>
      		        {% endif %}
      	        </div>        
               {% endfor %}

               {% for field in formPerfil.visible_fields %}

	              <div class="form-group">
                    
      	            {{ field }}
      	            {% if field.help_text %}
      	           
      	            {% endif %}
      		        {% if field.errors %}		        	
      			        <div class="alert alert-danger">
      			        <button type="button" class="close" data-dismiss="alert">&times;</button>
      				        <ul>
      				          {% for error in field.errors%}
      				          <li>{{ error }}</li>
      			              {% endfor %}
      			            </ul>
      		         	</div>
      		        {% endif %}
      	        </div>        
               {% endfor %}


                 
                
                  <br><br>
                 <!-- <div class="g-recaptcha boot" data-sitekey="6Le8-xUUAAAAAEaaToGX4VZV_DPLvLK4C0PJnUQX"></div>-->
                  <br><br>
                  <button id="botoncito" type="submit" class="formulari boto btn btn-success"><span class=" glyphicon glyphicon-floppy-disk"></span> Guardar canvis</button>
                  
                  <br />
                </form> 
              
          </div>
        </div>
                    
                      
                        
                        
                      
                 
                </div>
            
             

    </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
       
        
      

{% endblock %}

{% block extra-body %}
{% load static %}
<script src="{% static "js/Usuari.js" %}"></script>
{% endblock %}


